table {
    border-collapse: collapse;
    width:50%;
}
table, th, td {
    border:1px solid blue;
}
th {
    height: 100px;
    padding:10px;
    background-color:gray;
}
td {
    height: 80px;
    text-align: right;
    vertical-align:center;
    padding:10px;
}